extends layout

block content
  h1= title
  - let items = results;

  div(class="container-fluid")
    div(class="row")
      each item of results
        div(class="col-sm-2") This parent is a #{item.parent_type} and is #{item.age} years old. They have been a parent since #{item.since}.


      
