extends layout 

block content 
  h1= title 
  
  form(id='ParentForm', action='/resource/parents', method='Post')
    div.form-group
      label.parentAttr(for='parent_type') Parent type 
      input#parent_type(type='text', name='parent_type')
    div.form-group
      label.parentAttr(for='age') Parent Age 
      input#age(type='number', name='age')
    div.form-group
      label.parentAttr(for='since') Parent Since 
      input#since(type='number', name='since')
    input(type='submit')

  script.
    document.forms['CostumeForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
      // TODO handle body
      }).catch((error) => {
      // TODO handle error
        alert("Save failed " + error )
      });
    });